/* Layout */
.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.container2 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.size-shift{
  width: 256px;
  height: 100px;
}
@media screen and (max-width:850px) {
  .size-shift{
    order: 3; 
    height: auto;
  }
  .food-image{
    order: 2;
  }
}
